*{
    margin: 0;
}
.relogio{
    background-color: red;
    display: flex;
    justify-content: center;
    padding: 50px;
    
}
.box{
    background-color: yellow;
    width: 70px;
    height: 60px;
    font-size: 50px;
    justify-items: center;
}
.form {
    width: 300px;
    margin: 200px auto;
}
input {
    display: block;
    margin: 10px auto;
    width: 250px;
    height: 30px;
}