*{
    margin: 0;
}
body{
    background: linear-gradient(#AEDDE3, #F7BFCA, #FCFA96, #D7B1D7, #AEDDE3);
}
img {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
p{
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.container{
    background-color: white;
    border-radius: 10px;
    margin: auto;
    width: 300px;
}
.relogio{
    font-family: 'Roboto', sans-serif;;
    background: linear-gradient(#FCFA96, #FFFFFF, #FCFA96);
    display: flex;
    justify-content: center;
    
}
.box{
    width: 70px;
    font-size: 50px;
    justify-items: center;
}
.form {
    width: 300px;
    margin: 10px auto;
    padding-bottom: 20px;
}
input {
    display: block;
    margin: 10px auto;
    width: 200px;
    height: 30px;
}